<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
<h1>Fake SAML SSO Authenticator</h1>

<h2>Signed Out</h2>

<p>
  Redirecting to <%= @http_referer %> ...
</p>

<script>
  setTimeout(() => { document.location = "<%= @http_referer %>"; }, 3000);
</script>

</body>
</html>
